/*********************************************************************
                        Color Scheme - Index
                    Grain #D7CEC7, rgb(215, 206, 199)
                    Blackboard #565656, rgb(86, 86, 86)
                    Oxblood #76323F, rgb(118, 50, 63)
                    Tan #C09F80, rgb(192, 159, 128)
                        Color Scheme - Resume
                    Tuft blue rgb(62, 142, 222)
                    UMN maroon rgb(122, 0, 25)
**********************************************************************/
/*********************************************************************
                        	    Header
**********************************************************************/
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    height: 220pt;
    text-align: center;
    background-color: rgba(215, 206, 199, 0.3);
    padding-top: 20pt;
    padding-bottom: 20pt;
}
.title{
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0pt;
    margin-top: 2pt;
}
.title-sub1{
    font-size: 14pt;
    font-weight: normal;
    margin-top: 3pt;
    margin-bottom: 0pt;
}
.title-sub2{
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
    margin-top: 0pt;
    margin-bottom: 0pt;
    color: rgb(86, 86, 86);
}
.image-profile{
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: 8px solid rgba(215, 206, 199, 0.5);
    margin: 0 auto;
    border-radius: 50%;
}
/*********************************************************************
                    Navigation Bar
**********************************************************************/
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,255,255);
    border-top: 1.2px solid rgba(215, 206, 199, 0.5);
    border-bottom: 1.2px solid rgba(215, 206, 199, 0.5);
}
.navigation {
    float: right;
    display: block;
    color:rgb(204, 185, 175);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;
    padding: 14px 14px;
}
.navigation:active {
    color:rgb(118, 50, 63);
}
.navigation:hover{
    color:rgb(189, 167, 156); 
}
/* need to check the below two lines of codes on a mobile phone*/
@media screen and (max-width: 600px) {
    .nav-bar{float: none;}
    .contact{max-width: 1080px;}
    .contact-form{margin: 0%}
}
/*********************************************************************
                        Footer
**********************************************************************/
.fa {
    color: rgba(86, 86, 86, 0.3);
}
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    font-size: 10pt;
    text-align: center;
    background-color: rgba(215, 206, 199, 0.5);
    padding-top: 20pt;
    padding-bottom: 12pt;
    margin-top: 2%;
}
/*********************************************************************
                        Main
**********************************************************************/
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    text-align: center;
    /* border-bottom: 1.2px solid rgba(215, 206, 199, 0.5); */
    padding-top: 2pt;
    padding-bottom: 2pt;
}
img{
    width: 250px;
    height: 140pt;
    object-fit: scale-down;
}
.learn-more {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(118, 50, 63);
    text-align: center;
    cursor: pointer;
    width: 120pt;
    border-radius: 18pt;
}
.learn-more:hover {
    background-color: rgb(94, 30, 42);
}
/*********************************************************************
                        Contact Form
**********************************************************************/
.contact-form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: block;
}
.contact-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: rgb(118, 50, 63);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(94, 30, 42);
}
